<!DOCTYPE html>
<html ng-app="testApp">
<head>
    <title>Test Javascript Views</title>
    <meta charset="utf-8" />
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.0/jquery.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.6.0/underscore.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.16/angular.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.16/angular-route.js"></script>
    <script src="/app.js"></script>
    <script src="/controllers.js"></script>
    <style>
      a.current {
        color: red;
      }
    </style>
</head>
<body>

  <div ng-view></div>

<script type="x-template" id="app-template">
  <header id="nav-container"></header>
  <section id="main-view-container"></section>
  <footer>Footer</footer>
</script>

<script type="x-template" id="home-template">
  <p>This is the home template.</p>
  <div class="watchlist-container"></div>
</script>

<script type="x-template" id="stock-template">
  <p>This is the stock template.</p>
  <h1><%- symbol %>: <%- name %></h1>
</script>

<script type="x-template" id="nav-template">
  <nav>
    <a class="home" data-page="home" href="/">Home</a>
    <a class="stock" data-page="stock" data-stock-id="5" href="/stock/5">Stock</a>
    <a class="logout" href="#">Log out</a>
  </nav>
</script>

<script type="x-template" id="watchlist-template">
</script>

<script type="x-template" id="watchlist-item-template">
</script>

<script type="x-template" id="login-template">
  <h2>Log in</h2>
  <form>
    <label>Username <input class="username" value="username" /></label><br />
    <label>Password <input class="password" type="password" value="password" /></label><br />
    <input type="submit" />
  </form>
</script>

</body>
</html>
