<!DOCTYPE html>
<html>
<head>
    <title>Test Javascript Views</title>
    <meta charset="utf-8" />
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.0/jquery.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.6.0/underscore.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.1.2/backbone.js"></script>
    <script src="main.js"></script>
    <style>
      a.current {
        color: red;
      }
    </style>
</head>
<body>
    <header id="nav-container"></header>
    <section id="main-view-container"></section>
    <footer>Footer</footer>
</body>
</html>

<script type="x-template" id="home-template">
  <p>This is the home template.</p>
  <div class="watchlist-container"></div>
</script>

<script type="x-template" id="stock-template">
  <p>This is the stock template.</p>
  <h1><%- stock.symbol %>: <%- stock.name %></h1>
</script>

<script type="x-template" id="nav-template">
  <nav>
    <a class="home" href="#">Home</a>
    <a class="stock" href="#stock/5">Stock</a>
  </nav>
</script>

<script type="x-template" id="watchlist-template">
  <h2>Watchlist</h2>
  <ul>
    <% _.each(watchlist, function(stock) { %>
      <li><%- stock.symbol %>: <%- stock.name %></li>
    <% }); %>
  </ul>
</script>

<script type="x-template" id="login-template">
  <h2>Log in</h2>
  <form>
    <label>Username <input name="username" value="username" /></label><br />
    <label>Password <input name="password" type="password" value="password" /></label><br />
    <input type="submit" />
  </form>
</script>
